.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  transition: filter 0.2s ease;
  user-select: none;
  background-color: var(--mantine-color-gray-light);
  outline: 1px solid var(--mantine-color-gray-filled);
}

.box:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.box[data-valid="accept"] {
  background-color: var(--mantine-color-blue-light);
  outline: 1px solid var(--mantine-color-blue-filled);
}

.box[data-valid="reject"] {
  background-color: var(--mantine-color-red-light);
  outline: 1px solid var(--mantine-color-red-filled);
}

.box[data-valid="warning"] {
  background-color: var(--mantine-color-yellow-light);
  outline: 1px solid var(--mantine-color-yellow-filled);
}

.box[data-disabled="true"] {
  cursor: no-drop;
  filter: brightness(0.6);
}
