.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  padding: var(--mantine-spacing-md);
  transition: filter 0.2s ease;
  background-color: var(--mantine-color-dark-6);
  border: 1px dashed var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-sm);
}

.box[data-active="true"] {
  background-color: var(--mantine-color-blue-light);
}

.box[data-valid="accept"] {
  background-color: var(--mantine-color-green-light);
}

.box[data-valid="reject"] {
  background-color: var(--mantine-color-red-light);
}

.box[data-valid="warning"] {
  background-color: var(--mantine-color-yellow-light);
}

.box[data-disabled="true"] {
  cursor: no-drop;
  filter: brightness(0.9);
}
