.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  transition: filter 0.2s ease;
  user-select: none;

}

/* 通常時のoutline有無を表現 */
.box[data-outline="true"] {
  background-color: var(--mantine-color-gray-light);
  outline: 1px solid var(--mantine-color-gray-filled);
}

/* 選択可能状態を表現 */
.box[data-selectable="false"] {
  cursor: default;
}

.box[data-selectable="true"] {
  cursor: pointer;
  filter: brightness(0.9);
}

.box[data-selectable="true"]:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

/* 選択状態を表現 */
.box[data-selected="true"] {
  background-color: var(--mantine-color-blue-light);
  outline: 1px solid var(--mantine-color-blue-filled);
  filter: brightness(1.1);
}


/* サポート対象外を表現 */
.box[data-supported="false"] {
  background-color: var(--mantine-color-red-light);
  outline: 1px solid var(--mantine-color-red-filled);
}

.box[data-valid="accept"] {
  background-color: var(--mantine-color-green-light);
  outline: 1px solid var(--mantine-color-green-filled);
}

.box[data-valid="reject"] {
  background-color: var(--mantine-color-red-light);
  outline: 1px solid var(--mantine-color-red-filled);
}

.box[data-valid="warning"] {
  background-color: var(--mantine-color-yellow-light);
  outline: 1px solid var(--mantine-color-yellow-filled);
}
