.droparea {
  height: auto;
  min-height: 368px;
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-dark-6);
  border-color: var(--mantine-color-dark-4);
  border-style: dashed;
  border-width: 1px;
  margin-bottom: 5px;
}

.droparea[data-valid="accept"] {
  border-color: var(--mantine-color-blue-light-color);
  background-color: var(--mantine-color-blue-light);
}

.droparea[data-valid="reject"] {
  border-color: var(--mantine-color-red-light-color);
  background-color: var(--mantine-color-red-light);
  cursor: no-drop;
}

.droparea[data-valid="warning"] {
  border-color: var(--mantine-color-yellow-light-color);
  background-color: var(--mantine-color-yellow-light);
}

.droparea[data-disabled="true"] {
  cursor: no-drop;
}
